# para docker
DATABASE_URL="postgresql://fin_app:fin_app@db:5432/finanzas_personales?schema=public"

# para local
# DATABASE_URL="postgresql://fin_app:fin_app@localhost:5432/finanzas_personales?schema=public"
JWT_SECRET="mi-jwt-super-secreto-aleatorio"
PORT=4000